@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    outline-color: #DF6229;
    user-select: none;
}

html,
body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.container {
    background-color: transparent;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

::-webkit-scrollbar {
    width: 3px;
}

::-webkit-scrollbar-thumb {
    background-color: #F05756;
}

.hidden {
    display: none !important;
}


/* ----------------------------------------------------------HEADER START
------------------------------------------------------------------------ */
.header {
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem;
    border-bottom: .1rem solid #CCCCCC;
}

.header>.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
}

.header>.logo>button {
    background-color: #F4F4F4;
    padding: .5rem 1rem;
    border-radius: 1rem;
    border: none;
    outline: none;
}

.header>.logo>.logo_text>h1 {
    font-size: 1.1rem;
    font-weight: 600;
    color: #2B2B2B;
}

.header>.order_type {
    display: flex;
    gap: 1rem;
}

.header>.order_type>button {
    padding: .4rem 1rem;
    background-color: transparent;
    border: .1rem solid #E4E4E4;
    border-radius: 1rem;
    color: #19191C;
}

.header>.order_type>button.active {
    border-color: #DF6229;
    color: #DF6229;
    background-color: #FFE8E1;
}

.header>.user_info {
    display: flex;
    align-items: center;
    gap: .8rem;
}

.header>.user_info>.user_img {
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.header>.user_info>.user_img>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.header>.user_info>.user_typo {
    display: flex;
    flex-direction: column;
    gap: .1rem;
}

.header>.user_info>.user_typo>.user_name {
    color: #2B2B2B;
    font-size: .8rem;
    font-weight: bold;
}

.header>.user_info>.user_typo>.user_role {
    color: #929292;
    font-size: .7rem;
    letter-spacing: .1rem;
}

/* ---------------------------------------------------- CONTENT START
---------------------------------------------------------------------- */

.content {
    display: flex;
    min-height: 90%;
    width: 100%;
    height: 100%;
}

/* ---------------------------------------------------- CONTENT LEFT START
------------------------------------------------------------------------ */

.left_aside {
    background-color: #FFFFFF;
    padding: 2rem .5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    flex-shrink: 0;
}

.left_aside>button {
    background-color: transparent;
    padding: .5rem 1rem;
    border-radius: 1rem;
    border: none;
    flex-grow: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.left_aside>button.active {
    background-color: #FFE8E1;
}

.left_aside>button:last-child {
    margin-top: auto;
}


/* ---------------------------------------------------- CONTENT CENTER START
---------------------------------------------------------------------------- */

.main_content {
    background-color: #F4F4F4;
    padding: 2rem 1rem;
    /* overflow: scroll; */
    max-height: 100%;
    flex-grow: 1;
    overflow: auto;
}

.load_menu {
    display: flex;
    align-items: center;
    gap: 1rem;
    height: 3rem;
}

.menu_search {
    display: flex;
    align-items: center;
    padding: 0 1rem;
    background-color: #FFFFFF;
    border-radius: 1rem;
    justify-content: center;
}

.menu_search>input {
    border: none;
    background-color: transparent;
    margin-right: .5rem;
    outline: none;
    height: 50px;
}

.menu_btns {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 100%;
    height: 100%;
}

.menu_btns>button {
    height: 100%;
    padding: 0 1rem;
    border-radius: 1rem;
    color: #FFFFFF;
    cursor: pointer;
    border: none;
    background: linear-gradient(#EFA280, #DF6229);
}

.menu_btns>button:focus {
    outline: 1px solid 19191C;
}

.menu_category {
    margin-top: 2rem;
}

.menu_category>h3 {
    color: #2B2B2B;
    font-weight: 600;
    margin-bottom: .5rem;
}

.menu_category>div {
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
}

.menu_category>div>button {
    padding: .3rem .8rem;
    background-color: #FFFFFF;
    border-radius: 1.5rem;
    cursor: pointer;
    border: 1px solid #FFFFFF;
}

.menu_category>div>button:hover,
.menu_category>div>.active {
    border: 1px solid #F05756;
    background-color: #FFEEEF;
    color: #F05756;
}

.choosen_category_menu_items {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
}

.choosen_category_menu_items>h3 {
    color: #2B2B2B;
    font-weight: 600;
    margin-bottom: .5rem;
}

.choosen_category_menu_items>div {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    overflow-y: auto;
}

.category_menu_item {
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    background-color: #FFFFFF;
    /* max-width: 16rem; */
    /* min-width: 10rem; */
    width: 15rem;
    cursor: pointer;
    color: #2B2B2B;
}

.category_menu_item>.imgCon {
    background: linear-gradient(#EFA280, #DF6229);
    border-radius: 1rem;
    width: 100%;
    height: 100%;
    min-height: 10rem;
    max-height: 12rem;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    /* Ensure content overflows are clipped */
}

.category_menu_item>.imgCon>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
}

.category_menu_item>span {
    font-size: 14px;
    margin: .5rem 0;
    font-weight: 500;
    user-select: none;
}

.category_menu_item .price {
    font-size: 16px;
    font-weight: 500;
}

.category_menu_item>div {
    display: flex;
    gap: .2rem;
}

.category_menu_item>div>span {
    font-size: 11px;
    font-weight: 200;
    align-self: first baseline;
}


/* ---------------------------------------------------- CONTENT RIGHT START
---------------------------------------------------------------------------- */

.right_aside_handle {
    width: .5rem;
    cursor: ew-resize;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    background: transparent;
}

.right_aside {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 35%;
    min-width: 25%;
    flex-shrink: 0;
    position: relative;
    max-width: 50%;
}

.right_aside_top {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem 1rem;
    overflow-y: auto;
    flex-grow: 1;
}

.menu_item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: .5rem;
    border-bottom: 1px solid #FFEEEF;
    padding-bottom: .5rem;
}

.menu_item_name {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.menu_item_product_name {
    color: #2B2B2B;
    font-size: 1.1rem;
    font-weight: 600;
}

.menu_item_sub_product_names {
    color: #929292;
    font-weight: 400;
    font-size: .9rem;
}

.menu_item_number__price {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.menu_item_number__price>div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: .2rem;
    color: #2B2B2B;
    font-weight: bold;
}

.menu_item_number__price>.menu_item_product_name {
    align-self: flex-end;
}

.sub {
    background-color: #E4E4E4;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: .3rem;
    border-radius: .5rem;
    border: none;
    cursor: pointer;
}

.add {
    background-color: #F05756;
    background: linear-gradient(#EFA280, #DF6229);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: .3rem;
    border-radius: .5rem;
    border: none;

    cursor: pointer;
}

.menu_numbers {
    border: none;
    outline: none;
    padding: 0px;
    width: 3rem;
    color: #2B2B2B;
    font-size: 1rem;
    text-align: center;
    font-weight: lighter;
}

.menu_summary {
    display: flex;
    flex-direction: column;
    padding: .5rem 1rem 1rem 1rem;
}

.menu_offers {
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    gap: .1rem;
}

.menu_offers>button {
    cursor: pointer;
    color: #DF6229;
    background-color: #FFE8E1;
    border: 1px solid #DF6229;
    border-radius: 1rem;
    height: 2.5rem;
    margin-bottom: 1rem;
}

.summary_row {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: .2rem 0;
}

.summary_row>span {
    font-size: .9rem;
    font-weight: 400;
    color: #929292;
}

.dotted_line {
    width: 100%;
    border-bottom: 1px dashed #929292;
    margin: .5rem 0;
}

.summary_total>span {
    font-weight: 500;
    font-size: 1.1rem;
    color: #2B2B2B;
}

.menu_bills_btn {
    display: flex;
    justify-content: space-evenly;
    grid-gap: .5rem;
    align-items: center;
    margin-top: 1rem;
    width: 100%;
}

.menu_bills_btn>button {
    padding: .8rem;
    border-radius: 1.5rem;
    background-color: #F05756;
    background: linear-gradient(#EFA280, #DF6229);
    border: none;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 1rem;
    width: 100%;
}


.customer_details {
    padding: 1rem;
}

.customer_details_header {
    border-bottom: 1px solid #CCCCCC;
    padding-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.customer_details_header>div {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.customer_details_header>div>span {
    font-size: 1.2rem;
    font-weight: 500;
}

.customer_details_header button {
    border: none;
    outline: none;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

.customer_details_form {
    display: flex;
    flex-direction: column;
}

.customer_details_form>label {
    margin-top: .8rem;
    margin-bottom: .2rem;
}

.customer_details_form>input,
.customer_details_form>textarea,
.customer_details_form>select {
    padding: .5rem;
    border-radius: .5rem;
    border: 1px solid #C2C2C2;
    outline: none;
    font-size: 1rem;
}

.customer_details_form>input::placeholder,
.customer_details_form>textarea::placeholder {
    color: #C2C2C2;
}


/* ---------------------------------------------------- LOGIN SCREEN START
---------------------------------------------------------------------------- */


.loginContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(#EFA280, #DF6229);
    text-align: center;
}

.login_name {
    color: white;
}

.pin-display {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin: 2rem 0;
}

.dot {
    width: 2.5rem;
    height: 2.5rem;
    background-color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    color: transparent;
}

.filled {
    color: #19191C;
}

.keypad {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.keypad>div {
    display: flex;
    gap: 2rem;
}

.align_right {
    align-self: flex-end;
}

.key {
    height: 5rem;
    width: 5rem;
    background-color: white;
    border: none;
    border-radius: 50%;
    font-size: 2rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background 0.3s;
    font-weight: 400;
}

.key:hover {
    background: #ddd;
}


/* LOADER STYLE */

.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10000;
}

.loader-container::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: inherit;
    backdrop-filter: blur(5px);
    z-index: -1;
}

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.loader .box {
    width: 2rem;
    height: 2rem;
    background: linear-gradient(#EFA280, #DF6229);
    animation: wave 1.2s linear infinite;
    animation-delay: calc(0.1s * var(--i));
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 400;
    color: white;
}

.loader .box:nth-child(1) {
    --i: 1;
}

.loader .box:nth-child(2) {
    --i: 2;
}

.loader .box:nth-child(3) {
    --i: 3;
}

.loader .box:nth-child(4) {
    --i: 4;
}

.loader .box:nth-child(5) {
    --i: 5;
}

@keyframes wave {

    0%,
    40%,
    100% {
        transform: translateY(0);
    }

    20% {
        transform: translateY(-20px);
    }
}


/* POS LOGIN CONTAINER */


.posloginContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.posloginContainer>.login_name {
    margin-bottom: 1rem;
    color: #333;
}

.posloginContainer>form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 50%;
}

.posloginContainer>form>input {
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.posloginContainer>form>button {
    padding: 0.75rem;
    font-size: 1rem;
    border: none;
    border-radius: 4px;
    background: linear-gradient(#EFA280, #DF6229);
    color: white;
    cursor: pointer;
    transition: background 0.3s;
}


.ongoing_orders {
    display: flex;
    flex-direction: column;
}

.tables_section {
    position: relative;
    height: 100%;
}

.table_top {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    background-color: white;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    border-bottom: 2px solid #E4E4E4;
    z-index: 2;
}

.status_indication_main,
.status_indication_filter_main,
.status_indication_btn_search {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.status_indication_main>div {
    display: flex;
    align-items: center;
}

.status_indication_main>div>.name {
    font-size: 14px;
    font-weight: normal;
    color: #19191C;
}

.status_indication_main>div>.dot {
    width: .8rem;
    height: .8rem;
    margin-right: 5px;
}


.status_indication_filter_main>button {
    padding: .4rem 1rem;
    background-color: transparent;
    border: .1rem solid #E4E4E4;
    border-radius: 1rem;
    color: #19191C;
}

.status_indication_filter_main>button.active {
    border-color: #DF6229;
    color: #DF6229;
    background-color: #FFE8E1;
}

.table_search {
    border-left: 2px solid #E4E4E4;
    padding: .8rem;
    display: flex;
    align-items: center;
}

.table_search>input {
    padding: .5rem;
    border: none;
    outline: none;
}

.table_aside {
    position: fixed;
    right: 0;
    top: 20%;
    overflow: scroll;
    float: right;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 1rem;
    gap: 2rem;
    z-index: 2;
}

.table_aside>button {
    background-color: #FFF5EE;
    color: #FF5C00;
    font-size: 16px;
    font-weight: 400;
    border-radius: 50%;
    outline: none;
    border: none;
    height: 4rem;
    width: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.table_aside>button.active {
    background: linear-gradient(#EFA280, #DF6229);
    color: white;
}

.table_float_bottom {
    background-color: white;
    position: fixed;
    bottom: 2rem;
    left: 10rem;
    right: 10rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    padding: 1rem 2rem;
    border-radius: 10px;
}

.selected_table_details_main {
    display: flex;
    align-items: center;
}

.selected_table_details_main>.leftSide {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-right: 1rem;
    border-right: 2px solid #E4E4E4;
}

.selected_table_details_main>.leftSide>.decor {
    background-color: #F8F9FD;
    padding: .8rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
}

.selected_table_details_main>.leftSide>.decor2 {
    display: flex;
    flex-direction: column;
}

.selected_table_details_main>.rightSide {
    padding-left: 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.selected_table_details_main>.rightSide>div {
    display: flex;
    padding: .6rem;
    border-radius: 1rem;
    border: 2px solid #E4E4E4;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 14px;
    color: #19191C;
    position: relative;
}

.selected_table_details_main>.rightSide>div>button {
    position: absolute;
    top: -20%;
    right: -10%;
    background-color: #EA4F3B;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
}





/* ================================ */


.dineTable-section {
    display: flex;
    flex-wrap: wrap;
    gap: 8rem;
    justify-content: space-evenly;
    padding-bottom: 10rem;
    padding-left: 2rem;

}

.dineTable {
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    position: relative;
    background-color: white;
    border-radius: 10px;
}

.dineTable:hover {
    transform: scale(1.1);
}

.table-info {
    height: 4.5rem;
    width: 4.5rem;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    border-radius: 50%;
    flex-direction: column;
}

.table-info>p {
    font-size: 20px;
    font-weight: 400;
}

.table-info>span{
    font-size: 12px;
    font-weight: 500;
}

.circle {
    border-radius: 50%;
    width: 120px;
    height: 120px;
    position: relative;
}

.square {
    width: 120px;
    height: 120px;
    position: relative;
}

.rectangle {
    width: 200px;
    height: 120px;
    position: relative;
}

.status-available>.table-info {
    background-color: #ECF6FF;
    color: #3395F0;
}

.status-reserved>.table-info {
    background-color: #FFF5EE;
    color: #FF5C00;
}

.status-billed>.table-info {
    background-color: #FFF9EB;
    color: #F0B433;
}

.status-available_soon>.table-info {
    background-color: #ECFEED;
    color: #13C91B;
}

.selected {
    border: 3px solid #FF5C00;
}

.seats {
    position: absolute;
    width: 100%;
    height: 100%;
}

.side {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top {
    top: -1.5rem;
    left: 0;
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
}

.bottom {
    bottom: -1.5rem;
    left: 0;
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
}

.left {
    left: -2rem;
    top: 0;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
}

.right {
    right: -2rem;
    top: 0;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
}

.seat {
    width: 30px;
    height: 8px;
    background-color: white;
    border-radius: 5px;
}

.left > .seat {
    transform: rotate(90deg);
}

.right > .seat {
    transform: rotate(90deg);
}

#dashboardSection.disable, .selected_menu.disable,.menu_offers.disable {
    pointer-events: none;
}